@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
body {
  background-color: #E6E6FA;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height as needed */
}
/* CSS */
/* TopHeader.css */
.logo-container {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* TopHeader.css */
.logo-image {
  max-width: 160px; /* Adjust the maximum width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image horizontally */
}





.bg-dark {
  background-color: #E6E6FA !important;
}

.form-control {
  font-size: 1.2rem;
  padding: 8px;
  text-transform: capitalize;
  border: 1px solid #e6e5e5;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 10%);
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: transparent;
}

.form-control:focus {
  background-color: #fff;
  border-color: transparent !important;
  box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 10%);
}

.form-container {
  position: relative;
}

.fa-search {
  font-size: 15px;
  color: #fff !important;
  border: 1px solid #7c5295;
  outline: none;
  background-color: #7c5295;
  border-color: #7c5295;
  height: 75%;
  width: 50px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

a,
a:hover {
  text-decoration: none;
}

.product-card {
  width: 100%;
  height: 325px;
  box-shadow: 0 5px 35px 0 rgb(0 0 0 / 8%);
  background-color: #2e3247;
  border-radius: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-content: center;
  align-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 15px auto;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.product-card:hover {
  transform: translateY(-20px);
  transition: all ease 1s;
}
.product-card h3 {
  font-size: 1.3rem;
  padding: 3px 0px;
  color: #fff;
  margin: 0;
  font-weight: 600;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 2px;
  margin-bottom: 0;
  color: black;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.product-image-caption {
  padding: 15px;
}

.btn-primary {
  background-color: #b4c5e4 !important;
  border-color: #b4c5e4 !important;
  color: black;
  padding: 6px 20px;
  margin: 10px auto;
  border-radius: 20px;
}
.btn-primary:hover {
  background-color: #cbd4e4 !important;
  border-color: #cbd4e4 !important;
  color: black;
  transition: all 0.5s ease-in-out;
}
#details h4 {
  font-size: 2.3rem;
  padding-bottom: 5px;
  color: black;
}

#details p {
  font-size: 1.2rem;
  line-height: 1.7;
  color: black;
  margin-bottom: 2px;
}

#details .fas {
  font-size: 2rem;
  padding: 5px 0px;
}
#details .fas.fa-paw {
  color: black;
  transform: rotate(-45deg);
}
#details .fas.fa-chevron-left {
  color:  #7c5295;
  font-size: 1.6rem;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
#details .fas.fa-chevron-left:hover {
  color:black;
  transition: all 0.5s ease-in-out;
}

#details p span {
  color: black;
}
#details img {
  width: 95%;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

#details .btn-primary {
  padding: 0.5rem 3rem;
  margin: 10px 0px;
  background-color: #32b768;
  border-color: #32b768;
  transition: all 0.5s ease;
}

#details .btn-primary:hover {
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 44%);
}

#details img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 1s;
}

@media (max-width: 596px) {
  .w-50 {
    width: 80% !important;
  }
  #details .fas.fa-chevron-left {
    top: 0.3rem;
  }
}

/* CSS styles for the home icon */
.home-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px; /* Adjust vertical margin as needed */
  margin-right: 10px; /* Adjust horizontal margin as needed */
}

/* Style the anchor tag */
.home-icon a {
  display: block;
  width: 30px; /* Set width of the anchor tag */
  height: 30px; /* Set height of the anchor tag */
}

/* Style the image inside the anchor tag */
.home-icon img {
  width: 100%; /* Make the image fill the entire space of the anchor tag */
  height: auto; /* Maintain aspect ratio */
}
